workflows/0sut6WfrO8VINXEX.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-14T17:26:05.000Z",
    "createdAt": "2026-02-14T17:24:53.427Z",
    "versionId": "b08ed49f-ad66-467a-b729-21c0481f05af",
    "workflowId": "0sut6WfrO8VINXEX",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -1600,
          -416
        ],
        "id": "60b80270-7569-412d-a62f-690f51213fef",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1600,
          -224
        ],
        "id": "0c2865dd-df65-46ef-a040-d723f4aa255c",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "content": "## Todoist Emojifier\n\nThis workflow prepends emojis to tasks in the groceries project.\n\nNOTE: The project ID is hardcoded in the \"Check task project\" node.",
          "height": 200,
          "width": 300
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2128,
          -944
        ],
        "id": "b2bcfdaf-64dc-497f-a753-f6bcf971395c",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "url": "=https://gist.github.com/pschmitt/b5ce05407e6bcaf457923845f6f550c2/raw/emoji-mapping.json?ts={{ Date.now() }}",
          "options": {
            "redirect": {
              "redirect": {
                "maxRedirects": 20
              }
            },
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1376,
          -752
        ],
        "id": "f7e4710d-bce4-46f0-a49a-efb41c93373b",
        "name": "Get emoji regexes",
        "retryOnFail": true,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": 2
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -928,
          -848
        ],
        "id": "2ff0dda4-79c6-47a4-922e-9e328942bb97",
        "name": "Merge"
      },
      {
        "parameters": {
          "operation": "getAll",
          "returnAll": true,
          "filters": {
            "projectId": "6Crcx5cJrWQ6w4cG"
          }
        },
        "type": "n8n-nodes-base.todoist",
        "typeVersion": 2.2,
        "position": [
          -1376,
          -368
        ],
        "id": "44e2f1fa-01f0-49ae-8fe0-a08f00844682",
        "name": "Todoist Fetch Tasks",
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "credentials": {
          "todoistApi": {
            "id": "7jDBSQS5HIVX5LSR",
            "name": "Todoist account (API Key)"
          }
        }
      },
      {
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "import re\n\nDEBUG = False\n\npayload = [item[\"json\"] for item in _items]\n\nemoji_mappings = [\n  x\n  for x in payload\n  if isinstance(x, dict) and x.get(\"emoji\") and x.get(\"regex\")\n]\n\ntask_data = [\n  x\n  for x in payload\n  if isinstance(x, dict) and x.get(\"id\") and x.get(\"content\")\n]\n\nchanged_tasks = []\nllm_tasks = []\n\nfor task in task_data:\n  content = task.get(\"content\", \"\")\n  matched = False\n\n  for em in emoji_mappings:\n    emoji = em.get(\"emoji\")\n    re_pattern = em.get(\"regex\")\n\n    if not emoji or not re_pattern:\n      continue\n\n    if DEBUG:\n      print(f\"content: '{content}' - emoji: '{emoji}' - re: '{re_pattern}'\")\n\n    if re.match(re_pattern, content, re.IGNORECASE):\n      task[\"content\"] = f\"{emoji} {content}\"\n      changed_tasks.append(task)\n      matched = True\n      break\n\n  if not matched:\n    llm_tasks.append(task)\n\nreturn [\n  {\n    \"json\": {\n      \"changed_tasks\": changed_tasks,\n      \"llm_tasks\": llm_tasks,\n    }\n  }\n]"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -256,
          -768
        ],
        "id": "38361d64-d86e-49de-8423-ee9a7ebb0ae0",
        "name": "Regex replace content"
      },
      {
        "parameters": {
          "model": "qwen/qwen3-32b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          208,
          -544
        ],
        "id": "861a8c26-5a8c-4510-b1f4-c269b794e2b9",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "2nL6WC5EPVPT4o0B",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Items List\",\n  \"description\": \"A list of items with ID and content\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"id\": {\n        \"type\": \"string\",\n        \"description\": \"Unique identifier for the item\"\n      },\n      \"content\": {\n        \"type\": \"string\",\n        \"description\": \"Display content for the item\"\n      }\n    },\n    \"required\": [\"id\", \"content\"],\n    \"additionalProperties\": false\n  },\n  \"minItems\": 0,\n  \"uniqueItems\": true\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          336,
          -544
        ],
        "id": "5d37c7ab-1457-4601-9e33-9e6d189aba0c",
        "name": "Structured Output Parser",
        "notesInFlow": false
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.llm_tasks }}",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "- Prepend a single emoji best describing the content followed by a single space to all the tasks \"content\" fields. \n- Note that the \"content\" fields might be in German, English or French.\n- Prefer emojis from the \"Food & Drink\" category since the contents are from a grocery shopping list. If there's no good match you can still use other emoji.\n- Don't use chinese, arabic or similar characters. I don't consider these emojis.\n- Ignore all the other fields.\n- Do not alter the \"id\" field under any circumstance.\n- All \"content\" fields should match this: \"{emoji} {original content}\".\n- There should only be one leading emoji, feel free to replace/remove existing emojis if there are any.\n- Only respond with valid JSON.\n"
              },
              {
                "message": "Do not answer anything if my (the user) input is empty. Do not output anything in that case, do not output entries that are not relevant to the input. Do not invent tasks."
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.5,
        "position": [
          192,
          -768
        ],
        "id": "fe30bff2-0a8d-491b-ac1e-50a05a0bfedd",
        "name": "Determine emoji",
        "alwaysOutputData": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          544,
          -640
        ],
        "id": "022f5eaf-367b-4b5e-a60f-2c183726b238",
        "name": "Merge llm output + tasks"
      },
      {
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "changed_tasks = []\n\nif _items:\n  changed_tasks = _items[0][\"json\"].get(\"changed_tasks\", [])\n\nreturn [{\"json\": t} for t in changed_tasks]"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          -1024
        ],
        "id": "e65acdf7-189c-4b32-a2ae-84040a68f6db",
        "name": "prepare tasks for import (static)"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5c125b3d-7e38-45d0-8e74-fabc2c3531f9",
                "leftValue": "={{ $json.content }}",
                "rightValue": "/\\p{Emoji}/u",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -656,
          -928
        ],
        "id": "160cb138-f0a1-429b-a59e-23633bef3e24",
        "name": "Tasks contain emoji"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -480,
          -768
        ],
        "id": "63b12a8f-3cf3-4956-8885-862ac58480ca",
        "name": "Merge mappings + tasks"
      },
      {
        "parameters": {
          "operation": "update",
          "taskId": "={{ $json.id }}",
          "updateFields": {
            "content": "={{ $json.content }}"
          }
        },
        "type": "n8n-nodes-base.todoist",
        "typeVersion": 2.2,
        "position": [
          1216,
          -768
        ],
        "id": "c649b3f1-b58a-4df5-bf0d-47512771a23d",
        "name": "Todoist Rename Task",
        "credentials": {
          "todoistApi": {
            "id": "7jDBSQS5HIVX5LSR",
            "name": "Todoist account (API Key)"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "02f2e06e-0dc6-472b-a4c4-691a8a3ced6f",
                "name": "id",
                "value": "={{ $json.body.event_data.id }}",
                "type": "string"
              },
              {
                "id": "9d362483-8501-4fb8-b7f2-cf7437c06024",
                "name": "content",
                "value": "={{ $json.body.event_data.content }}",
                "type": "string"
              },
              {
                "id": "a0e984ff-7805-4d5a-883f-0a94c18b6679",
                "name": "project_id",
                "value": "={{ $json.body.event_data.project_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1824,
          -624
        ],
        "id": "b79b6735-445b-43e5-a2cb-8451b021e9c4",
        "name": "Process webhook data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "68d338c3-1807-4831-83c6-18d273a25d00",
                "leftValue": "={{ $json.project_id }}",
                "rightValue": "=6Crcx5cJrWQ6w4cG",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "68be4bbc-fbe4-4369-aa8e-6af3d8ef2d8d",
                "leftValue": "={{ $json.content }}",
                "rightValue": "/\\p{Emoji}/u",
                "operator": {
                  "type": "string",
                  "operation": "notRegex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1600,
          -624
        ],
        "id": "4850d6ac-7005-4c90-a9dc-3057383fe1b2",
        "name": "Check task project"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "3459bf0b-2c5d-4964-b19c-36121e29c9ee",
                "leftValue": "={{ $json.content }}",
                "rightValue": "/^\\p{Emoji}/u",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          992,
          -640
        ],
        "id": "7eb8a6fe-93fa-4709-890e-c011b0ad3e46",
        "name": "Validate emoji"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ac02e75a-9cc7-4d93-ae4b-754efc4b72a7",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -2048,
          -624
        ],
        "id": "19da4c6c-7fa5-4b15-9be5-bce788d7fd85",
        "name": "Task added/updated",
        "webhookId": "ac02e75a-9cc7-4d93-ae4b-754efc4b72a7"
      },
      {
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "payload = [item[\"json\"] for item in _items]\n\nllm_item = next(\n  (x for x in payload if isinstance(x, dict) and isinstance(x.get(\"output\"), list)),\n  None,\n)\n\nsource_item = next(\n  (x for x in payload if isinstance(x, dict) and isinstance(x.get(\"llm_tasks\"), list)),\n  None,\n)\n\nllm_data = [] if llm_item is None else llm_item.get(\"output\", [])\nllm_tasks = [] if source_item is None else source_item.get(\"llm_tasks\", [])\n\ntask_ids = [\n  t.get(\"id\")\n  for t in llm_tasks\n  if isinstance(t, dict) and t.get(\"id\") is not None\n]\n\noutput = []\n\nfor l in llm_data:\n  if not isinstance(l, dict):\n    continue\n\n  task_id = l.get(\"id\")\n  if task_id not in task_ids:\n    continue\n\n  output.append({\"json\": l})\n\nreturn output"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          768,
          -640
        ],
        "id": "361c0ce6-2a0d-4d77-a7e2-e59de3f91f17",
        "name": "Remove halucinations"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e56e7ebd-78eb-406c-90a8-03106730e5dd",
                "name": "emoji",
                "value": "={{ $json.emoji }}",
                "type": "string"
              },
              {
                "id": "4aa8605b-f54f-4c2d-a013-d78a3e8fb4c1",
                "name": "regex",
                "value": "=^\\s*({{ $json.patterns.join(\"|\") }})",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1152,
          -752
        ],
        "id": "223fa842-6284-4f89-b80e-fe63f1376862",
        "name": "Construct regexes"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7864ed00-17e9-4604-8c53-b88d469503f2",
                "leftValue": "={{ $json.llm_tasks }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -32,
          -640
        ],
        "id": "3ad7def1-cdac-46dd-83c8-210da96a9b9e",
        "name": "If llm tasks not empty"
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Get emoji regexes",
              "type": "main",
              "index": 0
            },
            {
              "node": "Todoist Fetch Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get emoji regexes",
              "type": "main",
              "index": 0
            },
            {
              "node": "Todoist Fetch Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get emoji regexes": {
        "main": [
          [
            {
              "node": "Construct regexes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Tasks contain emoji",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Todoist Fetch Tasks": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Regex replace content": {
        "main": [
          [
            {
              "node": "prepare tasks for import (static)",
              "type": "main",
              "index": 0
            },
            {
              "node": "If llm tasks not empty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Determine emoji",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Determine emoji",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Determine emoji": {
        "main": [
          [
            {
              "node": "Merge llm output + tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare tasks for import (static)": {
        "main": [
          [
            {
              "node": "Todoist Rename Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tasks contain emoji": {
        "main": [
          [],
          [
            {
              "node": "Merge mappings + tasks",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge mappings + tasks": {
        "main": [
          [
            {
              "node": "Regex replace content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process webhook data": {
        "main": [
          [
            {
              "node": "Check task project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check task project": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "Get emoji regexes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate emoji": {
        "main": [
          [
            {
              "node": "Todoist Rename Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Task added/updated": {
        "main": [
          [
            {
              "node": "Process webhook data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove halucinations": {
        "main": [
          [
            {
              "node": "Validate emoji",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Construct regexes": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge mappings + tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If llm tasks not empty": {
        "main": [
          [
            {
              "node": "Determine emoji",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge llm output + tasks",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge llm output + tasks": {
        "main": [
          [
            {
              "node": "Remove halucinations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Philipp Schmitt",
    "name": "Version b08ed49f",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "b08ed49f-ad66-467a-b729-21c0481f05af",
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get emoji regexes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Todoist Fetch Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get emoji regexes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Todoist Fetch Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get emoji regexes": {
      "main": [
        [
          {
            "node": "Construct regexes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Tasks contain emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist Fetch Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Regex replace content": {
      "main": [
        [
          {
            "node": "prepare tasks for import (static)",
            "type": "main",
            "index": 0
          },
          {
            "node": "If llm tasks not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Determine emoji",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Determine emoji",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Determine emoji": {
      "main": [
        [
          {
            "node": "Merge llm output + tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare tasks for import (static)": {
      "main": [
        [
          {
            "node": "Todoist Rename Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks contain emoji": {
      "main": [
        [],
        [
          {
            "node": "Merge mappings + tasks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge mappings + tasks": {
      "main": [
        [
          {
            "node": "Regex replace content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process webhook data": {
      "main": [
        [
          {
            "node": "Check task project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check task project": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get emoji regexes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate emoji": {
      "main": [
        [
          {
            "node": "Todoist Rename Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task added/updated": {
      "main": [
        [
          {
            "node": "Process webhook data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove halucinations": {
      "main": [
        [
          {
            "node": "Validate emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct regexes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge mappings + tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If llm tasks not empty": {
      "main": [
        [
          {
            "node": "Determine emoji",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge llm output + tasks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge llm output + tasks": {
      "main": [
        [
          {
            "node": "Remove halucinations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-20T13:52:03.090Z",
  "id": "0sut6WfrO8VINXEX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "☑️ Todoist Emojifier",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        -416
      ],
      "id": "60b80270-7569-412d-a62f-690f51213fef",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        -224
      ],
      "id": "0c2865dd-df65-46ef-a040-d723f4aa255c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Todoist Emojifier\n\nThis workflow prepends emojis to tasks in the groceries project.\n\nNOTE: The project ID is hardcoded in the \"Check task project\" node.",
        "height": 200,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2128,
        -944
      ],
      "id": "b2bcfdaf-64dc-497f-a753-f6bcf971395c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "=https://gist.github.com/pschmitt/b5ce05407e6bcaf457923845f6f550c2/raw/emoji-mapping.json?ts={{ Date.now() }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 20
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1376,
        -752
      ],
      "id": "f7e4710d-bce4-46f0-a49a-efb41c93373b",
      "name": "Get emoji regexes",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -928,
        -848
      ],
      "id": "2ff0dda4-79c6-47a4-922e-9e328942bb97",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "projectId": "6Crcx5cJrWQ6w4cG"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        -1376,
        -368
      ],
      "id": "44e2f1fa-01f0-49ae-8fe0-a08f00844682",
      "name": "Todoist Fetch Tasks",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "todoistApi": {
          "id": "7jDBSQS5HIVX5LSR",
          "name": "Todoist account (API Key)"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import re\n\nDEBUG = False\n\npayload = [item[\"json\"] for item in _items]\n\nemoji_mappings = [\n  x\n  for x in payload\n  if isinstance(x, dict) and x.get(\"emoji\") and x.get(\"regex\")\n]\n\ntask_data = [\n  x\n  for x in payload\n  if isinstance(x, dict) and x.get(\"id\") and x.get(\"content\")\n]\n\nchanged_tasks = []\nllm_tasks = []\n\nfor task in task_data:\n  content = task.get(\"content\", \"\")\n  matched = False\n\n  for em in emoji_mappings:\n    emoji = em.get(\"emoji\")\n    re_pattern = em.get(\"regex\")\n\n    if not emoji or not re_pattern:\n      continue\n\n    if DEBUG:\n      print(f\"content: '{content}' - emoji: '{emoji}' - re: '{re_pattern}'\")\n\n    if re.match(re_pattern, content, re.IGNORECASE):\n      task[\"content\"] = f\"{emoji} {content}\"\n      changed_tasks.append(task)\n      matched = True\n      break\n\n  if not matched:\n    llm_tasks.append(task)\n\nreturn [\n  {\n    \"json\": {\n      \"changed_tasks\": changed_tasks,\n      \"llm_tasks\": llm_tasks,\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -768
      ],
      "id": "38361d64-d86e-49de-8423-ee9a7ebb0ae0",
      "name": "Regex replace content"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        -544
      ],
      "id": "861a8c26-5a8c-4510-b1f4-c269b794e2b9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "2nL6WC5EPVPT4o0B",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Items List\",\n  \"description\": \"A list of items with ID and content\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"id\": {\n        \"type\": \"string\",\n        \"description\": \"Unique identifier for the item\"\n      },\n      \"content\": {\n        \"type\": \"string\",\n        \"description\": \"Display content for the item\"\n      }\n    },\n    \"required\": [\"id\", \"content\"],\n    \"additionalProperties\": false\n  },\n  \"minItems\": 0,\n  \"uniqueItems\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        336,
        -544
      ],
      "id": "5d37c7ab-1457-4601-9e33-9e6d189aba0c",
      "name": "Structured Output Parser",
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.llm_tasks }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "- Prepend a single emoji best describing the content followed by a single space to all the tasks \"content\" fields. \n- Note that the \"content\" fields might be in German, English or French.\n- Prefer emojis from the \"Food & Drink\" category since the contents are from a grocery shopping list. If there's no good match you can still use other emoji.\n- Don't use chinese, arabic or similar characters. I don't consider these emojis.\n- Ignore all the other fields.\n- Do not alter the \"id\" field under any circumstance.\n- All \"content\" fields should match this: \"{emoji} {original content}\".\n- There should only be one leading emoji, feel free to replace/remove existing emojis if there are any.\n- Only respond with valid JSON.\n"
            },
            {
              "message": "Do not answer anything if my (the user) input is empty. Do not output anything in that case, do not output entries that are not relevant to the input. Do not invent tasks."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        192,
        -768
      ],
      "id": "fe30bff2-0a8d-491b-ac1e-50a05a0bfedd",
      "name": "Determine emoji",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        544,
        -640
      ],
      "id": "022f5eaf-367b-4b5e-a60f-2c183726b238",
      "name": "Merge llm output + tasks"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "changed_tasks = []\n\nif _items:\n  changed_tasks = _items[0][\"json\"].get(\"changed_tasks\", [])\n\nreturn [{\"json\": t} for t in changed_tasks]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -1024
      ],
      "id": "e65acdf7-189c-4b32-a2ae-84040a68f6db",
      "name": "prepare tasks for import (static)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c125b3d-7e38-45d0-8e74-fabc2c3531f9",
              "leftValue": "={{ $json.content }}",
              "rightValue": "/\\p{Emoji}/u",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        -928
      ],
      "id": "160cb138-f0a1-429b-a59e-23633bef3e24",
      "name": "Tasks contain emoji"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -480,
        -768
      ],
      "id": "63b12a8f-3cf3-4956-8885-862ac58480ca",
      "name": "Merge mappings + tasks"
    },
    {
      "parameters": {
        "operation": "update",
        "taskId": "={{ $json.id }}",
        "updateFields": {
          "content": "={{ $json.content }}"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        1216,
        -768
      ],
      "id": "c649b3f1-b58a-4df5-bf0d-47512771a23d",
      "name": "Todoist Rename Task",
      "credentials": {
        "todoistApi": {
          "id": "7jDBSQS5HIVX5LSR",
          "name": "Todoist account (API Key)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02f2e06e-0dc6-472b-a4c4-691a8a3ced6f",
              "name": "id",
              "value": "={{ $json.body.event_data.id }}",
              "type": "string"
            },
            {
              "id": "9d362483-8501-4fb8-b7f2-cf7437c06024",
              "name": "content",
              "value": "={{ $json.body.event_data.content }}",
              "type": "string"
            },
            {
              "id": "a0e984ff-7805-4d5a-883f-0a94c18b6679",
              "name": "project_id",
              "value": "={{ $json.body.event_data.project_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        -624
      ],
      "id": "b79b6735-445b-43e5-a2cb-8451b021e9c4",
      "name": "Process webhook data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68d338c3-1807-4831-83c6-18d273a25d00",
              "leftValue": "={{ $json.project_id }}",
              "rightValue": "=6Crcx5cJrWQ6w4cG",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "68be4bbc-fbe4-4369-aa8e-6af3d8ef2d8d",
              "leftValue": "={{ $json.content }}",
              "rightValue": "/\\p{Emoji}/u",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1600,
        -624
      ],
      "id": "4850d6ac-7005-4c90-a9dc-3057383fe1b2",
      "name": "Check task project"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3459bf0b-2c5d-4964-b19c-36121e29c9ee",
              "leftValue": "={{ $json.content }}",
              "rightValue": "/^\\p{Emoji}/u",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        -640
      ],
      "id": "7eb8a6fe-93fa-4709-890e-c011b0ad3e46",
      "name": "Validate emoji"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ac02e75a-9cc7-4d93-ae4b-754efc4b72a7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2048,
        -624
      ],
      "id": "19da4c6c-7fa5-4b15-9be5-bce788d7fd85",
      "name": "Task added/updated",
      "webhookId": "ac02e75a-9cc7-4d93-ae4b-754efc4b72a7"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "payload = [item[\"json\"] for item in _items]\n\nllm_item = next(\n  (x for x in payload if isinstance(x, dict) and isinstance(x.get(\"output\"), list)),\n  None,\n)\n\nsource_item = next(\n  (x for x in payload if isinstance(x, dict) and isinstance(x.get(\"llm_tasks\"), list)),\n  None,\n)\n\nllm_data = [] if llm_item is None else llm_item.get(\"output\", [])\nllm_tasks = [] if source_item is None else source_item.get(\"llm_tasks\", [])\n\ntask_ids = [\n  t.get(\"id\")\n  for t in llm_tasks\n  if isinstance(t, dict) and t.get(\"id\") is not None\n]\n\noutput = []\n\nfor l in llm_data:\n  if not isinstance(l, dict):\n    continue\n\n  task_id = l.get(\"id\")\n  if task_id not in task_ids:\n    continue\n\n  output.append({\"json\": l})\n\nreturn output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -640
      ],
      "id": "361c0ce6-2a0d-4d77-a7e2-e59de3f91f17",
      "name": "Remove halucinations"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e56e7ebd-78eb-406c-90a8-03106730e5dd",
              "name": "emoji",
              "value": "={{ $json.emoji }}",
              "type": "string"
            },
            {
              "id": "4aa8605b-f54f-4c2d-a013-d78a3e8fb4c1",
              "name": "regex",
              "value": "=^\\s*({{ $json.patterns.join(\"|\") }})",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        -752
      ],
      "id": "223fa842-6284-4f89-b80e-fe63f1376862",
      "name": "Construct regexes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7864ed00-17e9-4604-8c53-b88d469503f2",
              "leftValue": "={{ $json.llm_tasks }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        -640
      ],
      "id": "3ad7def1-cdac-46dd-83c8-210da96a9b9e",
      "name": "If llm tasks not empty"
    }
  ],
  "pinData": {
    "Task added/updated": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "n8n.brkn.lol",
            "x-real-ip": "52.90.116.203",
            "x-forwarded-for": "52.90.116.203",
            "x-forwarded-proto": "https",
            "x-forwarded-host": "n8n.brkn.lol",
            "x-forwarded-server": "rofl-10",
            "content-length": "871",
            "content-type": "application/json",
            "x-todoist-hmac-sha256": "0RQuSfGAeyRTUWMZkxQAM97m88QUpn72i7teL1r5wpo=",
            "x-todoist-delivery-id": "f329032b-4560-4551-9bdd-72817d6bd63c",
            "x-app-id": "31903",
            "user-agent": "Todoist-Webhooks",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "event_data": {
              "added_at": "2026-02-14T17:22:54.905067Z",
              "added_by_uid": "1087845",
              "assigned_by_uid": null,
              "checked": false,
              "child_order": 2,
              "completed_at": null,
              "completed_by_uid": null,
              "content": "eia",
              "day_order": -1,
              "deadline": null,
              "description": "",
              "due": null,
              "duration": null,
              "id": "6g2VVXfm2GhhC38G",
              "is_collapsed": false,
              "is_deleted": false,
              "labels": [],
              "note_count": 0,
              "parent_id": null,
              "priority": 1,
              "project_id": "6Crcx5cJrWQ6w4cG",
              "responsible_uid": null,
              "section_id": "64hJqv9CW29FCWGG",
              "updated_at": "2026-02-14T17:22:54.905089Z",
              "url": "https://app.todoist.com/app/task/6g2VVXfm2GhhC38G?sync_id=10017504226",
              "user_id": "1087845"
            },
            "event_name": "item:added",
            "initiator": {
              "email": "philipp@schmitt.co",
              "full_name": "pschmitt",
              "id": "1087845",
              "image_id": "02854bc8a8f64adfa0cc079a40de52b7",
              "is_premium": true
            },
            "triggered_at": "2026-02-14T17:22:55.228617Z",
            "user_id": "1087845",
            "version": "1"
          },
          "webhookUrl": "https://n8n.brkn.lol/webhook/ac02e75a-9cc7-4d93-ae4b-754efc4b72a7",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n-workflows",
  "repo_owner": "pschmitt",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-02-20T13:52:03.095Z",
      "createdAt": "2025-02-20T13:52:03.095Z",
      "role": "workflow:owner",
      "workflowId": "0sut6WfrO8VINXEX",
      "projectId": "DeJsGrmui3Dbhpxg"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-02-14T17:24:53.426Z",
  "versionId": "b08ed49f-ad66-467a-b729-21c0481f05af"
}