workflows/0sut6WfrO8VINXEX.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-16T16:29:22.769Z",
    "createdAt": "2026-05-16T16:29:22.769Z",
    "versionId": "1b553b69-118a-43df-8421-b1e39a549ec1",
    "workflowId": "0sut6WfrO8VINXEX",
    "nodes": [
      {
        "id": "87ae7ce6-3d01-4751-a654-26b903a5cca0",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2000,
          0
        ]
      },
      {
        "id": "6d098964-e5df-49aa-a6c6-a1aa464091b5",
        "name": "Fetch All Tasks",
        "type": "n8n-nodes-base.todoist",
        "typeVersion": 2.2,
        "position": [
          -1750,
          100
        ],
        "parameters": {
          "operation": "getAll",
          "returnAll": true,
          "filters": {
            "filter": "project:6Crcx5cJrWQ6w4cG | project:6gfWcx5q832xJ6XJ"
          }
        },
        "credentials": {
          "todoistApi": {
            "id": "7jDBSQS5HIVX5LSR",
            "name": "Todoist account (API Key)"
          }
        }
      },
      {
        "id": "2d949aeb-085f-4fe0-a155-6bedb8c57fcf",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -2000,
          200
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        }
      },
      {
        "id": "90b10ca4-31ac-4e8f-943b-eaff68258df7",
        "name": "Normalize Task",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1500,
          -100
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "id",
                "name": "id",
                "value": "={{ $json.body?.event_data?.id || $json.id }}",
                "type": "string"
              },
              {
                "id": "content",
                "name": "content",
                "value": "={{ $json.body?.event_data?.content || $json.content }}",
                "type": "string"
              },
              {
                "id": "project_id",
                "name": "project_id",
                "value": "={{ $json.body?.event_data?.project_id || $json.project_id || $json.projectId }}",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "12ed3cf4-cb1d-4e9d-9405-cdfe1b640a30",
        "name": "Task added/updated",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -2000,
          -200
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "ac02e75a-9cc7-4d93-ae4b-754efc4b72a7"
        },
        "webhookId": "319d8938-8172-46b1-bf9a-13c8531e8efb"
      },
      {
        "id": "6e5bce62-5665-4d8a-abbc-e66a6de874f1",
        "name": "Identify Task",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1250,
          -100
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "\nconst G = '6Crcx5cJrWQ6w4cG';\nconst N = '6gfWcx5q832xJ6XJ';\nconst eRegex = /^[\\p{Emoji}\\u2000-\\u32FF]/u; // Matches if starts with emoji or symbols\nreturn $input.all().filter(i => {\n  const t = i.json;\n  const pid = String(t.project_id);\n  // Only process if it's one of our projects and DOES NOT start with an emoji/symbol\n  return (pid === G || pid === N) && t.content && !eRegex.test(t.content.trim());\n}).map(i => ({ json: { ...i.json, project_type: String(i.json.project_id) === G ? 'groceries' : 'nerdery' } }));\n"
        }
      },
      {
        "id": "052d0a03-4e22-475d-a90b-033704424a46",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          -1000,
          -100
        ],
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.project_type }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "rightValue": "groceries"
                    }
                  ]
                }
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.project_type }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "rightValue": "nerdery"
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      {
        "id": "d3b89066-5ad0-40d8-8fe1-bc7bd126f34b",
        "name": "Get Static Mappings",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -750,
          -250
        ],
        "parameters": {
          "url": "https://gist.github.com/pschmitt/b5ce05407e6bcaf457923845f6f550c2/raw/emoji-mapping.json",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        }
      },
      {
        "id": "1eeb186b-023d-4057-be06-7807d6f85766",
        "name": "Apply Static Map",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -500,
          -250
        ],
        "parameters": {
          "language": "pythonNative",
          "pythonCode": "\nimport re\nitems = [item[\"json\"] for item in _items]\nmappings = [x for x in items if \"emoji\" in x and \"patterns\" in x]\ntasks = [x for x in items if x.get(\"project_type\") == 'groceries']\nout = []\nfor t in tasks:\n    matched = False\n    for m in mappings:\n        if re.search(\"^\\\\s*(\" + \"|\".join(m[\"patterns\"]) + \")\", t[\"content\"], re.IGNORECASE):\n            t[\"content\"] = f\"{m['emoji']} {t['content']}\"\n            out.append({\"json\": {**t, \"is_matched\": \"yes\"}})\n            matched = True\n            break\n    if not matched:\n        out.append({\"json\": {**t, \"is_matched\": \"no\"}})\nreturn out\n"
        }
      },
      {
        "id": "22937f17-831f-4ca1-8e63-d9a003121499",
        "name": "Switch 1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          -250,
          -250
        ],
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.is_matched }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "rightValue": "yes"
                    }
                  ]
                }
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.is_matched }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "rightValue": "no"
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      {
        "id": "1f8397f8-f05f-436f-bf9a-35c962422b05",
        "name": "LLM Emojify",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.5,
        "position": [
          100,
          50
        ],
        "parameters": {
          "promptType": "define",
          "text": "={{ [$json] }}",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "Prepend 1 emoji + space to content. Context: 6Crcx5cJrWQ6w4cG=food, 6gfWcx5q832xJ6XJ=tech. DO NOT CHANGE TEXT. JSON ONLY."
              }
            ]
          }
        }
      },
      {
        "id": "47173af0-c2c8-4f7a-83f7-9e4d20f237e8",
        "name": "Groq",
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          100,
          250
        ],
        "parameters": {
          "model": "qwen/qwen3-32b"
        },
        "credentials": {
          "groqApi": {
            "id": "2nL6WC5EPVPT4o0B",
            "name": "Groq account"
          }
        }
      },
      {
        "id": "d8e27bf0-5397-4088-be4e-d7cd730f3d8b",
        "name": "Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          250,
          250
        ],
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\"},\"content\":{\"type\":\"string\"}},\"required\":[\"id\",\"content\"]}}"
        }
      },
      {
        "id": "dc4f5376-8209-4a08-95f8-5bd5a8f3fc26",
        "name": "Update Todoist",
        "type": "n8n-nodes-base.todoist",
        "typeVersion": 2.2,
        "position": [
          600,
          -100
        ],
        "parameters": {
          "operation": "update",
          "taskId": "={{ $json.id }}",
          "updateFields": {
            "content": "={{ $json.content }}"
          }
        },
        "credentials": {
          "todoistApi": {
            "id": "7jDBSQS5HIVX5LSR",
            "name": "Todoist account (API Key)"
          }
        }
      },
      {
        "id": "2b9b6f6f-8d13-4bb3-8b4c-55718d2953d4",
        "name": "Flatten LLM Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          350,
          50
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "\nreturn $input.item.json.output.map(i => ({ json: i }));\n"
        }
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Fetch All Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch All Tasks": {
        "main": [
          [
            {
              "node": "Normalize Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Fetch All Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Task": {
        "main": [
          [
            {
              "node": "Identify Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Task added/updated": {
        "main": [
          [
            {
              "node": "Normalize Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Identify Task": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Get Static Mappings",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "LLM Emojify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Static Mappings": {
        "main": [
          [
            {
              "node": "Apply Static Map",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Static Map": {
        "main": [
          [
            {
              "node": "Switch 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch 1": {
        "main": [
          [
            {
              "node": "Update Todoist",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "LLM Emojify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM Emojify": {
        "main": [
          [
            {
              "node": "Flatten LLM Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq": {
        "ai_languageModel": [
          [
            {
              "node": "LLM Emojify",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Parser": {
        "ai_outputParser": [
          [
            {
              "node": "LLM Emojify",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Flatten LLM Output": {
        "main": [
          [
            {
              "node": "Update Todoist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Philipp Schmitt",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "1b553b69-118a-43df-8421-b1e39a549ec1",
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Tasks": {
      "main": [
        [
          {
            "node": "Normalize Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Task": {
      "main": [
        [
          {
            "node": "Identify Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task added/updated": {
      "main": [
        [
          {
            "node": "Normalize Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Task": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Static Mappings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Emojify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Static Mappings": {
      "main": [
        [
          {
            "node": "Apply Static Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Static Map": {
      "main": [
        [
          {
            "node": "Switch 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch 1": {
      "main": [
        [
          {
            "node": "Update Todoist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Emojify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Emojify": {
      "main": [
        [
          {
            "node": "Flatten LLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Emojify",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "LLM Emojify",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Flatten LLM Output": {
      "main": [
        [
          {
            "node": "Update Todoist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-20T13:52:03.090Z",
  "id": "0sut6WfrO8VINXEX",
  "isArchived": false,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "☑️ Todoist Emojifier",
  "nodes": [
    {
      "id": "87ae7ce6-3d01-4751-a654-26b903a5cca0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2000,
        0
      ]
    },
    {
      "id": "6d098964-e5df-49aa-a6c6-a1aa464091b5",
      "name": "Fetch All Tasks",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        -1750,
        100
      ],
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": "project:6Crcx5cJrWQ6w4cG | project:6gfWcx5q832xJ6XJ"
        }
      },
      "credentials": {
        "todoistApi": {
          "id": "7jDBSQS5HIVX5LSR",
          "name": "Todoist account (API Key)"
        }
      }
    },
    {
      "id": "2d949aeb-085f-4fe0-a155-6bedb8c57fcf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "90b10ca4-31ac-4e8f-943b-eaff68258df7",
      "name": "Normalize Task",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1500,
        -100
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id",
              "name": "id",
              "value": "={{ $json.body?.event_data?.id || $json.id }}",
              "type": "string"
            },
            {
              "id": "content",
              "name": "content",
              "value": "={{ $json.body?.event_data?.content || $json.content }}",
              "type": "string"
            },
            {
              "id": "project_id",
              "name": "project_id",
              "value": "={{ $json.body?.event_data?.project_id || $json.project_id || $json.projectId }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "12ed3cf4-cb1d-4e9d-9405-cdfe1b640a30",
      "name": "Task added/updated",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2000,
        -200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ac02e75a-9cc7-4d93-ae4b-754efc4b72a7"
      },
      "webhookId": "319d8938-8172-46b1-bf9a-13c8531e8efb"
    },
    {
      "id": "6e5bce62-5665-4d8a-abbc-e66a6de874f1",
      "name": "Identify Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1250,
        -100
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\nconst G = '6Crcx5cJrWQ6w4cG';\nconst N = '6gfWcx5q832xJ6XJ';\nconst eRegex = /^[\\p{Emoji}\\u2000-\\u32FF]/u; // Matches if starts with emoji or symbols\nreturn $input.all().filter(i => {\n  const t = i.json;\n  const pid = String(t.project_id);\n  // Only process if it's one of our projects and DOES NOT start with an emoji/symbol\n  return (pid === G || pid === N) && t.content && !eRegex.test(t.content.trim());\n}).map(i => ({ json: { ...i.json, project_type: String(i.json.project_id) === G ? 'groceries' : 'nerdery' } }));\n"
      }
    },
    {
      "id": "052d0a03-4e22-475d-a90b-033704424a46",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1000,
        -100
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.project_type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "groceries"
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.project_type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "nerdery"
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "id": "d3b89066-5ad0-40d8-8fe1-bc7bd126f34b",
      "name": "Get Static Mappings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -750,
        -250
      ],
      "parameters": {
        "url": "https://gist.github.com/pschmitt/b5ce05407e6bcaf457923845f6f550c2/raw/emoji-mapping.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "1eeb186b-023d-4057-be06-7807d6f85766",
      "name": "Apply Static Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        -250
      ],
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "\nimport re\nitems = [item[\"json\"] for item in _items]\nmappings = [x for x in items if \"emoji\" in x and \"patterns\" in x]\ntasks = [x for x in items if x.get(\"project_type\") == 'groceries']\nout = []\nfor t in tasks:\n    matched = False\n    for m in mappings:\n        if re.search(\"^\\\\s*(\" + \"|\".join(m[\"patterns\"]) + \")\", t[\"content\"], re.IGNORECASE):\n            t[\"content\"] = f\"{m['emoji']} {t['content']}\"\n            out.append({\"json\": {**t, \"is_matched\": \"yes\"}})\n            matched = True\n            break\n    if not matched:\n        out.append({\"json\": {**t, \"is_matched\": \"no\"}})\nreturn out\n"
      }
    },
    {
      "id": "22937f17-831f-4ca1-8e63-d9a003121499",
      "name": "Switch 1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -250,
        -250
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.is_matched }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "yes"
                  }
                ]
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.is_matched }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "no"
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "id": "1f8397f8-f05f-436f-bf9a-35c962422b05",
      "name": "LLM Emojify",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        100,
        50
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ [$json] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Prepend 1 emoji + space to content. Context: 6Crcx5cJrWQ6w4cG=food, 6gfWcx5q832xJ6XJ=tech. DO NOT CHANGE TEXT. JSON ONLY."
            }
          ]
        }
      }
    },
    {
      "id": "47173af0-c2c8-4f7a-83f7-9e4d20f237e8",
      "name": "Groq",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        100,
        250
      ],
      "parameters": {
        "model": "qwen/qwen3-32b"
      },
      "credentials": {
        "groqApi": {
          "id": "2nL6WC5EPVPT4o0B",
          "name": "Groq account"
        }
      }
    },
    {
      "id": "d8e27bf0-5397-4088-be4e-d7cd730f3d8b",
      "name": "Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        250,
        250
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\"},\"content\":{\"type\":\"string\"}},\"required\":[\"id\",\"content\"]}}"
      }
    },
    {
      "id": "dc4f5376-8209-4a08-95f8-5bd5a8f3fc26",
      "name": "Update Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        600,
        -100
      ],
      "parameters": {
        "operation": "update",
        "taskId": "={{ $json.id }}",
        "updateFields": {
          "content": "={{ $json.content }}"
        }
      },
      "credentials": {
        "todoistApi": {
          "id": "7jDBSQS5HIVX5LSR",
          "name": "Todoist account (API Key)"
        }
      }
    },
    {
      "id": "2b9b6f6f-8d13-4bb3-8b4c-55718d2953d4",
      "name": "Flatten LLM Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        50
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\nreturn $input.item.json.output.map(i => ({ json: i }));\n"
      }
    }
  ],
  "pinData": {
    "Task added/updated": [
      {
        "json": {
          "headers": {
            "connection": "close",
            "host": "n8n.brkn.lol",
            "x-real-ip": "52.90.116.203",
            "x-forwarded-for": "52.90.116.203",
            "x-forwarded-proto": "https",
            "x-forwarded-host": "n8n.brkn.lol",
            "x-forwarded-server": "rofl-10",
            "content-length": "871",
            "content-type": "application/json",
            "x-todoist-hmac-sha256": "0RQuSfGAeyRTUWMZkxQAM97m88QUpn72i7teL1r5wpo=",
            "x-todoist-delivery-id": "f329032b-4560-4551-9bdd-72817d6bd63c",
            "x-app-id": "31903",
            "user-agent": "Todoist-Webhooks",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "event_data": {
              "added_at": "2026-02-14T17:22:54.905067Z",
              "added_by_uid": "1087845",
              "assigned_by_uid": null,
              "checked": false,
              "child_order": 2,
              "completed_at": null,
              "completed_by_uid": null,
              "content": "eia",
              "day_order": -1,
              "deadline": null,
              "description": "",
              "due": null,
              "duration": null,
              "id": "6g2VVXfm2GhhC38G",
              "is_collapsed": false,
              "is_deleted": false,
              "labels": [],
              "note_count": 0,
              "parent_id": null,
              "priority": 1,
              "project_id": "6Crcx5cJrWQ6w4cG",
              "responsible_uid": null,
              "section_id": "64hJqv9CW29FCWGG",
              "updated_at": "2026-02-14T17:22:54.905089Z",
              "url": "https://app.todoist.com/app/task/6g2VVXfm2GhhC38G?sync_id=10017504226",
              "user_id": "1087845"
            },
            "event_name": "item:added",
            "initiator": {
              "email": "philipp@schmitt.co",
              "full_name": "pschmitt",
              "id": "1087845",
              "image_id": "02854bc8a8f64adfa0cc079a40de52b7",
              "is_premium": true
            },
            "triggered_at": "2026-02-14T17:22:55.228617Z",
            "user_id": "1087845",
            "version": "1"
          },
          "webhookUrl": "https://n8n.brkn.lol/webhook/ac02e75a-9cc7-4d93-ae4b-754efc4b72a7",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n-workflows",
  "repo_owner": "pschmitt",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2025-02-20T13:52:03.095Z",
      "createdAt": "2025-02-20T13:52:03.095Z",
      "role": "workflow:owner",
      "workflowId": "0sut6WfrO8VINXEX",
      "projectId": "DeJsGrmui3Dbhpxg"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-05-16T16:29:22.768Z",
  "versionId": "1b553b69-118a-43df-8421-b1e39a549ec1"
}