workflows/19pwlUJok6EXe0uu.json
{
  "active": true,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Fetch Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Projects": {
      "main": [
        [
          {
            "node": "Select Templates Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Templates Project": {
      "main": [
        [
          {
            "node": "Fetch Template Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Template Tasks": {
      "main": [
        [
          {
            "node": "Fetch Active Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Tasks": {
      "main": [
        [
          {
            "node": "Build Template Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Template Actions": {
      "main": [
        [
          {
            "node": "Process Template Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Template Actions": {
      "main": [
        [
          {
            "node": "Route Template Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Placeholder Task": {
      "main": [
        [
          {
            "node": "Reset Template Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Template Context": {
      "main": [
        [
          {
            "node": "Process Template Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Create Payload": {
      "main": [
        [
          {
            "node": "Create Template Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Template Task": {
      "main": [
        [
          {
            "node": "Update Parent Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Parent Map": {
      "main": [
        [
          {
            "node": "Process Template Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-26T19:31:19.369Z",
  "id": "19pwlUJok6EXe0uu",
  "isArchived": false,
  "meta": null,
  "name": "☑️ Todoist Template Expander",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1984,
        -160
      ],
      "id": "142fa2aa-3d84-4da1-9258-bcdcd7eb96da",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1984,
        80
      ],
      "id": "10a54450-fea8-4271-ae67-91b8ade8866d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Todoist Template Expander\n\nThis workflow replaces shorthand tasks that start with `!!` by cloning the matching template (including subtasks) from the \"Templates\" project.",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2208,
        -256
      ],
      "id": "8fd39bd6-fcf3-4614-9346-16deeaff0c01",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getAll"
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        -1664,
        -48
      ],
      "id": "da02ace2-789f-45be-8ae3-29b74b875d9a",
      "name": "Fetch Projects",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "todoistApi": {
          "id": "7jDBSQS5HIVX5LSR",
          "name": "Todoist account (API Key)"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\nprojects = [item.json for item in _input.all()]\n\ntemplate = None\nfor project in projects:\n  name = project.get(\"name\", \"\").strip()\n  if name.lower() == \"templates\":\n    template = project\n    break\n\nif not template:\n  return []\n\nreturn [{\n  \"json\": {\n    \"templatesProjectId\": template.get(\"id\"),\n    \"templatesProject\": template\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        -48
      ],
      "id": "f90f5640-d7eb-467f-be0a-c7dbe4b74f42",
      "name": "Select Templates Project"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "projectId": "={{$json.templatesProjectId}}"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        -1152,
        -208
      ],
      "id": "87b63cac-f564-43d2-9078-5872198ae956",
      "name": "Fetch Template Tasks",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "todoistApi": {
          "id": "7jDBSQS5HIVX5LSR",
          "name": "Todoist account (API Key)"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        -1312,
        192
      ],
      "id": "a35b8450-c002-4985-bf7a-80c996fd63d0",
      "name": "Fetch Active Tasks",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "todoistApi": {
          "id": "7jDBSQS5HIVX5LSR",
          "name": "Todoist account (API Key)"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\nfrom collections import defaultdict, deque\n\nDEBUG = False\n\ntemplates = _('Select Templates Project').first()\ntemplate_project_id = None\nif templates:\n  template_project_id = templates.json.get('templatesProjectId')\n\nif template_project_id is None:\n  if DEBUG:\n    print('No template project found')\n  return []\n\nprojects = [item.json for item in _('Fetch Projects').all()]\ntest_project_id = None\nfor project in projects:\n  name = (project.get('name') or '').strip()\n  if name == '🧪 Test (meta)':\n    test_project_id = project.get('id')\n    break\n\nif test_project_id is None:\n  if DEBUG:\n    print(\"Test project '🧪 Test (meta)' not found\")\n  return []\n\ntemplate_tasks = [item.json for item in _('Fetch Template Tasks').all()]\nif not template_tasks:\n  if DEBUG:\n    print('Template project has no tasks')\n  return []\n\nall_tasks = [item.json for item in _input.all()]\n\nchildren = defaultdict(list)\nfor task in template_tasks:\n  parent_id = task.get('parent_id')\n  if parent_id:\n    children[parent_id].append(task)\n\nfor child_list in children.values():\n  child_list.sort(key=lambda item: item.get('child_order', 0))\n\ndef normalize_name(value):\n  if not value:\n    return ''\n  lowered = value.lower()\n  return ''.join(ch for ch in lowered if ch.isalnum())\n\ntemplate_index = [\n  (task, normalize_name(task.get('content', '')))\n  for task in template_tasks\n]\n\npattern = re.compile(r'^!!\\s*(.+)$', re.IGNORECASE)\nitems = []\n\nfor task in all_tasks:\n  if task.get('project_id') == template_project_id:\n    continue\n\n  if task.get('project_id') != test_project_id:\n    continue\n\n  match = pattern.match(task.get('content', ''))\n  if not match:\n    continue\n\n  template_name = match.group(1).strip()\n  normalized_placeholder = normalize_name(template_name)\n  if not normalized_placeholder:\n    continue\n\n  candidates = [\n    t for t, normalized in template_index\n    if normalized == normalized_placeholder\n  ]\n  candidates.sort(key=lambda t: (t.get('parent_id') is not None, t.get('child_order', 0)))\n  if not candidates:\n    if DEBUG:\n      print(f\"No template found for placeholder '{template_name}'\")\n    continue\n\n  root = candidates[0]\n\n  queue = deque([root])\n  subtree = []\n  while queue:\n    current = queue.popleft()\n    subtree.append(current)\n    for child in children.get(current.get('id'), []):\n      queue.append(child)\n\n  if not subtree:\n    continue\n\n  placeholder = {\n    'id': task.get('id'),\n    'projectId': task.get('project_id'),\n    'sectionId': task.get('section_id'),\n    'parentId': task.get('parent_id'),\n    'order': task.get('order'),\n    'childOrder': task.get('child_order'),\n  }\n\n  placeholder_key = str(task.get('id'))\n\n  items.append({\n    'json': {\n      'action': 'deletePlaceholder',\n      'placeholder': placeholder,\n      'templateName': template_name,\n      'placeholderKey': placeholder_key,\n    }\n  })\n\n  for template_task in subtree:\n    template_id = template_task.get('id')\n    payload = {\n      'templateId': template_id,\n      'parentTemplateId': template_task.get('parent_id'),\n      'content': template_task.get('content', ''),\n      'description': template_task.get('description'),\n      'priority': template_task.get('priority'),\n      'labels': template_task.get('labels') or [],\n      'order': template_task.get('order'),\n      'childOrder': template_task.get('child_order'),\n      'due': template_task.get('due') or {},\n      'isRoot': template_id == root.get('id'),\n    }\n\n    items.append({\n      'json': {\n        'action': 'createFromTemplate',\n        'placeholder': placeholder,\n        'templateName': template_name,\n        'placeholderKey': placeholder_key,\n        'task': payload,\n      }\n    })\n\nreturn items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        32
      ],
      "id": "1b05302c-19ec-46f0-9687-6957d471837c",
      "name": "Build Template Actions"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -496,
        -16
      ],
      "id": "efbef23e-be02-4c44-b451-8ef1cc4955c9",
      "name": "Process Template Actions"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.action}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        -336,
        272
      ],
      "id": "288d3822-e928-4b67-9bba-911155fa743d",
      "name": "Route Template Actions"
    },
    {
      "parameters": {
        "operation": "delete",
        "taskId": "={{$json.placeholder.id}}"
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        -160,
        80
      ],
      "id": "883c330f-bc30-4543-ac2a-9c6248ab3f6c",
      "name": "Delete Placeholder Task",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "todoistApi": {
          "id": "7jDBSQS5HIVX5LSR",
          "name": "Todoist account (API Key)"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "data = this.getWorkflowStaticData('node')\ndata['parentMap'] = {}\nplaceholder = $json.get('placeholder')\nif placeholder:\n  data['currentPlaceholder'] = placeholder\n  data['currentPlaceholderKey'] = $json.get('placeholderKey')\nelse:\n  data.pop('currentPlaceholder', None)\n  data.pop('currentPlaceholderKey', None)\ndata.pop('currentTemplateId', None)\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        80
      ],
      "id": "2eca766a-54e7-4c99-86f5-0cdb5c8c818f",
      "name": "Reset Template Context"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "data = this.getWorkflowStaticData('node')\nplaceholder = data.get('currentPlaceholder') or $json.get('placeholder')\nif not placeholder:\n  raise ValueError('Missing placeholder context for task creation')\n\ndata['currentPlaceholder'] = placeholder\nparent_map = data.get('parentMap')\nif parent_map is None:\n  parent_map = {}\n  data['parentMap'] = parent_map\n\ntask = $json.get('task', {})\nif not task:\n  raise ValueError('Missing task payload')\n\noptions = {}\nsection_id = placeholder.get('sectionId')\n\ndescription = task.get('description')\nif description:\n  options['description'] = description\n\npriority = task.get('priority')\nif priority:\n  options['priority'] = priority\n\norder = placeholder.get('order') if task.get('isRoot') else None\nif order is not None:\n  options['order'] = order\n\nif task.get('isRoot'):\n  if section_id is not None:\n    options['section'] = section_id\n  parent_id = placeholder.get('parentId')\n  if parent_id is not None:\n    options['parentId'] = parent_id\nelse:\n  parent_template_id = task.get('parentTemplateId')\n  if parent_template_id is not None:\n    parent_id = parent_map.get(parent_template_id)\n    if parent_id is None:\n      raise ValueError(f\"Parent task for template {parent_template_id} has not been created yet\")\n    options['parentId'] = parent_id\n\ndue = task.get('due') or {}\nif due.get('string'):\n  options['dueString'] = due.get('string')\nif due.get('datetime'):\n  options['dueDateTime'] = due.get('datetime')\nelif due.get('date'):\n  options['dueDate'] = due.get('date')\nif due.get('lang'):\n  options['dueLang'] = due.get('lang')\n\nlabels = task.get('labels') or []\n\ncreate_payload = {\n  'content': task.get('content', ''),\n  'project': placeholder.get('projectId'),\n  'labels': labels,\n  'options': options,\n  'templateId': task.get('templateId'),\n}\n\ndata['currentTemplateId'] = task.get('templateId')\n\nreturn [{\n  'json': {\n    'placeholder': placeholder,\n    'placeholderKey': $json.get('placeholderKey'),\n    'task': task,\n    'create': create_payload,\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        368
      ],
      "id": "83e83b27-4cbc-43be-a20f-74315a6b2fab",
      "name": "Prepare Create Payload"
    },
    {
      "parameters": {
        "project": "={{$json.create.project}}",
        "labels": "={{$json.create.labels}}",
        "content": "={{$json.create.content}}",
        "options": {}
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        80,
        368
      ],
      "id": "3e962f13-5b30-42a3-bb73-a2e91ff6e514",
      "name": "Create Template Task",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "todoistApi": {
          "id": "7jDBSQS5HIVX5LSR",
          "name": "Todoist account (API Key)"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "data = this.getWorkflowStaticData('node')\nparent_map = data.get('parentMap') or {}\nresponse = $json.get('data') or $json\nnew_task_id = None\nif isinstance(response, dict):\n  new_task_id = response.get('id') or response.get('task', {}).get('id')\n\nif new_task_id is None:\n  raise ValueError('Failed to determine created task id')\n\ntemplate_id = data.get('currentTemplateId')\nif template_id is None:\n  raise ValueError('Missing template id context for created task')\n\nparent_map[template_id] = new_task_id\ndata['parentMap'] = parent_map\n\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        368
      ],
      "id": "dfccc0d7-a827-4944-8f98-787261999596",
      "name": "Update Parent Map"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "pschmitt",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-26T19:31:19.374Z",
      "updatedAt": "2025-09-26T19:31:19.374Z",
      "role": "workflow:owner",
      "workflowId": "19pwlUJok6EXe0uu",
      "projectId": "DeJsGrmui3Dbhpxg"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-03-01T06:50:52.672Z",
      "updatedAt": "2025-03-01T06:50:52.672Z",
      "id": "mjfF2OqntfnQP15x",
      "name": "todoist"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-26T20:15:12.000Z",
  "versionId": "0fdae189-4e3f-4154-8330-14750ee48c18"
}