workflows/5W9pVHgMyb9aFAUC.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-03-01T19:44:33.782Z",
  "id": "5W9pVHgMyb9aFAUC",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🤣 emoji api",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "543420bc-177a-42f5-a94b-5cdd1d4b67e9",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data",
          "ignoreBots": false,
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1ab1961d-811c-4750-af02-87485f9995f9",
      "name": "Webhook",
      "webhookId": "e0fbde33-b534-48bb-adfc-394b330d6ec8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "56f92379-f6d7-418d-abcd-714e6ca69046",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bf892ea-35bd-439d-88dc-ea679dcaa894",
              "name": "hello",
              "value": "there",
              "type": "string"
            },
            {
              "id": "055d25bb-3d66-446e-97b8-a53032122e2f",
              "name": "request",
              "value": "={{ $json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        -100
      ],
      "id": "044d12cc-7822-45ff-80a3-08718fbe7055",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.query;\n$input.first().json.body['{\"text\": \"this is a cucumber\"}']\n// item = JSON.parse($input.first().json.body);\n// return item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        120
      ],
      "id": "aed9e1c3-e159-452a-a21f-a9242bfc809f",
      "name": "Code"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "pschmitt",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-01T09:15:55.233Z",
      "updatedAt": "2025-03-01T09:15:55.233Z",
      "id": "rSNOgCiExn2vRDnN",
      "name": "test"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-03-20T08:57:14.000Z",
  "versionId": "a8eca3b0-438a-4e0c-a052-7c3adb981774"
}