workflows/kFCw4yxOFaqTJcBX.json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-26T21:06:15.316Z",
  "id": "kFCw4yxOFaqTJcBX",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🔙 Back Up n8n Workflows to GitHub",
  "nodes": [
    {
      "parameters": {},
      "id": "a837664b-c262-4602-a5d4-69fc486a3e35",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        480,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 731.7039821513649,
        "width": 1910.7813046051347,
        "color": 6
      },
      "id": "ae1bad2e-6ba0-4724-84bd-dfb346bccfe7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "531d0384-ef8f-4df9-a2e8-1ac3dba40fd5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        60,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "c906f016-7a5a-4082-9f6b-7ae4f59621d8",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        880,
        180
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "u3jMgnSzsWVwKLAN",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "c113eb64-de0a-45ac-8cb9-59cfef598e14",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1620,
        660
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "d1b5c1e4-b18f-4495-9dc2-754b86e1daaf",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        540
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "6794a557-58f3-4dbd-8fba-c1df01143d43",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        440,
        560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "249f5ee4-8b2c-4541-b38a-c89ea8b5f80b",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        440,
        820
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "e278b46b-f339-493b-a361-01541437d0f5",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        640,
        820
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.github_status }}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "49a4b75b-5dc4-453d-a90d-99dd9e228b6f",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        880,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "dfb364ee-5e7e-4c94-9c53-f064050ee903",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1200,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7b08cc00-dd81-4ed2-b200-df43458051bd",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1200,
        820
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e3191dee-c9e2-46bd-bb52-18e2f60fef20",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1200,
        1020
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Config').first().json.repo_path }}/{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "4f830085-61b0-4d3a-935f-8503e36e9f5f",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1400,
        1020
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "POqP3dfytXqTmZo3",
          "name": "GitHub account (pschmitt)"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Config').first().json.repo_path }}/{{ $('Execute Workflow Trigger').first().json.id }}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{ $('Execute Workflow Trigger').first().json.name }} ({{$json.github_status}})"
      },
      "id": "5514f971-0a0c-480c-9a04-f7e3815e50b2",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1400,
        820
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "POqP3dfytXqTmZo3",
          "name": "GitHub account (pschmitt)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9dc656ad-58ac-4868-8f6e-5ca01af2856e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1080,
        180
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "b822e684-4b87-4549-bb54-a448a9094997",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        480,
        280
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "006610fb-9ee2-42fc-8385-9f68e6a1ad06",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416.1856906618075,
        "width": 1272.6408145680155,
        "color": 7
      },
      "id": "b93d02cf-1554-44ab-9761-2ee73bbfef0e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "83d0a9b5-4044-4341-b9b0-9624bbc707f3",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1300,
        200
      ],
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').first().json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').first().json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').first().json.repo_path }}/{{ $json.id }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "4a9412e1-f7e5-47e4-beb0-d1ced7cc0de9",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        240,
        560
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "POqP3dfytXqTmZo3",
          "name": "GitHub account (pschmitt)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "=pschmitt"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "=n8n-workflows"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "=workflows"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4b017e42-32c6-424c-a182-5c62519b29f3",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        240,
        840
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "createdAt": "2025-02-20T13:52:03.090Z",
          "updatedAt": "2025-02-25T12:35:24.000Z",
          "id": "0sut6WfrO8VINXEX",
          "name": "☑️ Todoist Emojifier",
          "active": true,
          "nodes": [
            {
              "parameters": {},
              "type": "n8n-nodes-base.manualTrigger",
              "typeVersion": 1,
              "position": [
                80,
                -560
              ],
              "id": "c7ce87e6-3a4c-4d56-90cb-123049f6fcb6",
              "name": "When clicking ‘Test workflow’"
            },
            {
              "parameters": {
                "rule": {
                  "interval": [
                    {
                      "field": "minutes",
                      "minutesInterval": 31
                    }
                  ]
                }
              },
              "type": "n8n-nodes-base.scheduleTrigger",
              "typeVersion": 1.2,
              "position": [
                80,
                -400
              ],
              "id": "25d93d17-1740-4adc-b059-1b645bd08edb",
              "name": "Schedule Trigger"
            },
            {
              "parameters": {
                "content": "## Todoist Emojifier\n\nThis workflow prepends emojis to tasks in the groceries project."
              },
              "type": "n8n-nodes-base.stickyNote",
              "typeVersion": 1,
              "position": [
                160,
                -740
              ],
              "id": "9b8da226-a272-4448-bc41-f94138e3dbae",
              "name": "Sticky Note"
            },
            {
              "parameters": {
                "url": "https://gist.github.com/pschmitt/b5ce05407e6bcaf457923845f6f550c2/raw/emoji-mapping.json?nocache=1",
                "options": {
                  "redirect": {
                    "redirect": {
                      "maxRedirects": 5
                    }
                  },
                  "response": {
                    "response": {
                      "responseFormat": "json"
                    }
                  }
                }
              },
              "type": "n8n-nodes-base.httpRequest",
              "typeVersion": 4.2,
              "position": [
                360,
                -560
              ],
              "id": "ec1e73b6-4b77-44ed-a58f-d63fe5f6c92a",
              "name": "Get emoji regexes",
              "retryOnFail": true,
              "waitBetweenTries": 2000
            },
            {
              "parameters": {
                "mode": "chooseBranch",
                "useDataOfInput": 2
              },
              "type": "n8n-nodes-base.merge",
              "typeVersion": 3,
              "position": [
                580,
                -480
              ],
              "id": "b624aafc-21a6-46ef-82e1-05ff4f3137c4",
              "name": "Merge"
            },
            {
              "parameters": {
                "operation": "getAll",
                "returnAll": true,
                "filters": {
                  "projectId": "2233547438"
                }
              },
              "type": "n8n-nodes-base.todoist",
              "typeVersion": 2.1,
              "position": [
                360,
                -400
              ],
              "id": "f3f2006d-23cf-4efb-849a-fd0be5db6ab9",
              "name": "Todoist Fetch Tasks",
              "retryOnFail": true,
              "waitBetweenTries": 2000,
              "credentials": {
                "todoistApi": {
                  "id": "7jDBSQS5HIVX5LSR",
                  "name": "Todoist account"
                }
              }
            },
            {
              "parameters": {
                "language": "python",
                "pythonCode": "import json\nimport re\n\nDEBUG = False\n\nemoji_pattern = re.compile(\n    \"[\"\n    \"\\U0001F600-\\U0001F64F\"  # Emoticons\n    \"\\U0001F300-\\U0001F5FF\"  # Symbols & Pictographs\n    \"\\U0001F680-\\U0001F6FF\"  # Transport & Map Symbols\n    \"\\U0001F1E6-\\U0001F1FF\"  # Flags (iOS)\n    \"\\U00002500-\\U00002BEF\"  # Misc Symbols (e.g., ♠️)\n    \"\\U00002702-\\U000027B0\"\n    \"\\U000024C2-\\U0001F251\"\n    \"\\U0001F926-\\U0001F937\"\n    \"\\U0001F900-\\U0001F9FF\"  # Supplemental Symbols\n    \"\\U0001FA70-\\U0001FAFF\"  # Symbols Extended-A\n    \"\\U00002600-\\U000026FF\"  # Misc Symbols (e.g., ☀️)\n    \"\\U00002700-\\U000027BF\"  # Dingbats\n    \"]+\",\n    flags=re.UNICODE\n)\n\ndef contains_emoji(str):\n  return True if re.match(emoji_pattern, str) else False\n\nemoji_data = [x.json for x in _(\"Get emoji regexes\").all()]\ntask_data = [x.json for x in _(\"Todoist Fetch Tasks\").all()]\n\nchanged_tasks = []\nllm_tasks = []\n\nfor task in task_data:\n  content = task.get(\"content\", \"\")\n  if contains_emoji(content):\n    print(f\"Skipping '{content}' since it already contains emojis\")\n    # Already contains an emoji, skip\n    continue\n    \n  # Loop over each emoji and its associated regex patterns\n  for em in emoji_data:\n    emoji = em.get(\"emoji\")\n    patterns = em.get(\"patterns\")\n    merged_pattern = f'^\\s*({patterns.join(\"|\")})'\n    \n    if DEBUG:\n      print(f\"emoji: {emoji} - patterns: {patterns} - re: {merged_pattern}\")\n\n    if re.match(merged_pattern, content, re.IGNORECASE):\n      task[\"content\"] = f\"{emoji} {content}\"\n      changed_tasks.append(task)\n      # Break out of the inner loop once a pattern matches\n      break\n\n    if task not in llm_tasks:\n      llm_tasks.append(task)\n\n# Return the modified list of tasks\n# return {\"json\": {\"changed_tasks\": changed_tasks, \"llm_tasks\": llm_tasks}} \n\nres = {\"changed_tasks\": changed_tasks, \"llm_tasks\": llm_tasks}\nreturn res"
              },
              "type": "n8n-nodes-base.code",
              "typeVersion": 2,
              "position": [
                760,
                -480
              ],
              "id": "053c7f59-8574-485e-9880-7e3fe7f290b8",
              "name": "Regex replace content"
            },
            {
              "parameters": {
                "language": "python",
                "pythonCode": "import re\n\n# Mapping from emoji to a list of regex patterns\nreplacements = {\n  \"🍎\": [\"apple\", \"red apple\", \"äpfel\"],\n  \"🍅\": [\"tomatoes\", \"tomato\", \"tomate\"],\n  \"🍃\": [\"basilikum\", \"basil\"],\n  \"🍝\": [\"spaghetti\", \"pasta\", \"nudel\"],\n  \"🐷\": [\"wurst\", \"wuast\", \"hackfleisch\"],\n  \"🧀\": [\"käse\", \"cheese\", \"fromage\"],\n  \"🥕\": [\"karotte\", \"rübli\", \"carotte\", \"möre\", \"möhre\"],\n  \"🍌\": [\"banan\"],\n  \"🌶️\": [\"chili\", \"hot pepper\"],\n  \"🧴\": [\"handkrem\", \"lotion\"],\n  \"🍺\": [\"bier\", \"beer\", \"bibine\", \"bière\"],\n  \"🍷\": [\"wein\", \"wine\", \"vin\"],\n  \"🐄\": [\"milch\", \"milk\", \"lait\"],\n  \"🧂\": [\"salz\", \"salt\", \"sel\"],\n  \"🧻\": [\"klopapier\", \"papier toilette\"]\n}\n\nchanged_items = []\n\nfor item in _input.all():\n  content = item.json.get(\"content\", \"\")\n  # Loop over each emoji and its associated regex patterns\n  for emoji, patterns in replacements.items():\n    for pattern in patterns:\n      # Use re.match with re.IGNORECASE to perform a case-insensitive match.\n      if re.match(f\"^{pattern}\", content, re.IGNORECASE):\n        item.json[\"content\"] = f\"{emoji} {content}\"\n        changed_items.append(item)\n        # Break out of the inner loop once a pattern matches\n        break\n    else:\n      # Continue if the inner loop wasn't broken (no match found for this emoji)\n      continue\n    # Break out of the outer loop for this item if an emoji was prepended.\n    break\n\n# Return the modified list of items\n# return _input.all()\nreturn changed_items\n"
              },
              "type": "n8n-nodes-base.code",
              "typeVersion": 2,
              "position": [
                560,
                -20
              ],
              "id": "e3ad0f10-5d7b-41fe-a5e2-e8aca9b94cc6",
              "name": "[LEGACY] Regex replace content (static)",
              "disabled": true
            },
            {
              "parameters": {
                "model": "deepseek-r1-distill-qwen-32b",
                "options": {}
              },
              "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
              "typeVersion": 1,
              "position": [
                980,
                -240
              ],
              "id": "1f90f76e-6b08-42f5-ad8f-d887b8d75e04",
              "name": "Groq Chat Model",
              "credentials": {
                "groqApi": {
                  "id": "2nL6WC5EPVPT4o0B",
                  "name": "Groq account"
                }
              }
            },
            {
              "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Items List\",\n  \"description\": \"A list of items with ID and content\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"id\": {\n        \"type\": \"string\",\n        \"description\": \"Unique identifier for the item\"\n      },\n      \"content\": {\n        \"type\": \"string\",\n        \"description\": \"Display content for the item\"\n      }\n    },\n    \"required\": [\"id\", \"content\"],\n    \"additionalProperties\": false\n  },\n  \"minItems\": 0,\n  \"uniqueItems\": true\n}"
              },
              "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
              "typeVersion": 1.2,
              "position": [
                1140,
                -220
              ],
              "id": "f205def7-c8e6-4945-aa4d-78ded930bbdc",
              "name": "Structured Output Parser",
              "notesInFlow": false
            },
            {
              "parameters": {
                "language": "python",
                "pythonCode": "import re\n\nemoji_pattern = re.compile(\n    \"[\"\n    \"\\U0001F600-\\U0001F64F\"  # Emoticons\n    \"\\U0001F300-\\U0001F5FF\"  # Symbols & Pictographs\n    \"\\U0001F680-\\U0001F6FF\"  # Transport & Map Symbols\n    \"\\U0001F1E6-\\U0001F1FF\"  # Flags (iOS)\n    \"\\U00002500-\\U00002BEF\"  # Misc Symbols (e.g., ♠️)\n    \"\\U00002702-\\U000027B0\"\n    \"\\U000024C2-\\U0001F251\"\n    \"\\U0001F926-\\U0001F937\"\n    \"\\U0001F900-\\U0001F9FF\"  # Supplemental Symbols\n    \"\\U0001FA70-\\U0001FAFF\"  # Symbols Extended-A\n    \"\\U00002600-\\U000026FF\"  # Misc Symbols (e.g., ☀️)\n    \"\\U00002700-\\U000027BF\"  # Dingbats\n    \"]+\",\n    flags=re.UNICODE\n)\n\ncontains_emoji(str):\n  return True if re.match(emoji_pattern) else False\n\nt = \"🏝️ sdsd\"\n\nreturn {\"json\": {\"e\": contains_emoji(t) }}"
              },
              "type": "n8n-nodes-base.code",
              "typeVersion": 2,
              "position": [
                380,
                0
              ],
              "id": "6ac90382-59d3-4f85-9a1f-c299442b2aee",
              "name": "Construct emoji query",
              "disabled": true
            },
            {
              "parameters": {
                "promptType": "define",
                "text": "={{ $json.llm_tasks }}",
                "hasOutputParser": true,
                "messages": {
                  "messageValues": [
                    {
                      "message": "prepend a single emoji best describing the content followed by a single space to all the tasks content fields, ignore all the other fields"
                    },
                    {
                      "message": "only respond with valid JSON"
                    },
                    {
                      "message": "Be aware that the tasks contents might be in german, french or english"
                    },
                    {
                      "message": "Do not answer anything if my (the user) input is empty. Do not output anything in that case, do not output entries that are not relevant to the input. Do not invent tasks."
                    }
                  ]
                }
              },
              "type": "@n8n/n8n-nodes-langchain.chainLlm",
              "typeVersion": 1.5,
              "position": [
                960,
                -420
              ],
              "id": "bdc80e03-8bce-44a7-9ac7-78e24ddad5c3",
              "name": "Determine emoji"
            },
            {
              "parameters": {
                "content": "# LLM Emoji\n\nThese nodes here can query the right emoji, but we still need to include this in the regular flow."
              },
              "type": "n8n-nodes-base.stickyNote",
              "typeVersion": 1,
              "position": [
                -100,
                20
              ],
              "id": "78b47de1-76cb-444e-a749-4c210564404c",
              "name": "Sticky Note1"
            },
            {
              "parameters": {
                "operation": "update",
                "taskId": "={{ $json.id }}",
                "updateFields": {
                  "content": "={{ $json.content }}"
                }
              },
              "type": "n8n-nodes-base.todoist",
              "typeVersion": 2.1,
              "position": [
                1560,
                -600
              ],
              "id": "1dc3efac-b7ad-4218-b9be-8c9031ca5803",
              "name": "Todoist Rename Task (Static)",
              "credentials": {
                "todoistApi": {
                  "id": "7jDBSQS5HIVX5LSR",
                  "name": "Todoist account"
                }
              }
            },
            {
              "parameters": {
                "operation": "update",
                "taskId": "={{ $json.id }}",
                "updateFields": {
                  "content": "={{ $json.content }}"
                }
              },
              "type": "n8n-nodes-base.todoist",
              "typeVersion": 2.1,
              "position": [
                1560,
                -420
              ],
              "id": "ff1d59f2-4c76-4fef-89cb-5097ec148ddc",
              "name": "Todoist Rename Task (LLM)",
              "credentials": {
                "todoistApi": {
                  "id": "7jDBSQS5HIVX5LSR",
                  "name": "Todoist account"
                }
              }
            },
            {
              "parameters": {
                "language": "python",
                "pythonCode": "return _json.changed_tasks"
              },
              "type": "n8n-nodes-base.code",
              "typeVersion": 2,
              "position": [
                1340,
                -600
              ],
              "id": "66987551-83dd-4ed5-8ea8-5051abee8c7a",
              "name": "prepare tasks for import (static)"
            },
            {
              "parameters": {
                "language": "python",
                "pythonCode": "return _json.output"
              },
              "type": "n8n-nodes-base.code",
              "typeVersion": 2,
              "position": [
                1320,
                -420
              ],
              "id": "0326d297-3973-4628-8802-83cd912933ab",
              "name": "prepare tasks for import (dynamic)"
            }
          ],
          "connections": {
            "When clicking ‘Test workflow’": {
              "main": [
                [
                  {
                    "node": "Get emoji regexes",
                    "type": "main",
                    "index": 0
                  },
                  {
                    "node": "Todoist Fetch Tasks",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Schedule Trigger": {
              "main": [
                [
                  {
                    "node": "Get emoji regexes",
                    "type": "main",
                    "index": 0
                  },
                  {
                    "node": "Todoist Fetch Tasks",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Get emoji regexes": {
              "main": [
                [
                  {
                    "node": "Merge",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Merge": {
              "main": [
                [
                  {
                    "node": "Regex replace content",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Todoist Fetch Tasks": {
              "main": [
                [
                  {
                    "node": "Merge",
                    "type": "main",
                    "index": 1
                  }
                ]
              ]
            },
            "Regex replace content": {
              "main": [
                [
                  {
                    "node": "Determine emoji",
                    "type": "main",
                    "index": 0
                  },
                  {
                    "node": "prepare tasks for import (static)",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "[LEGACY] Regex replace content (static)": {
              "main": [
                []
              ]
            },
            "Groq Chat Model": {
              "ai_languageModel": [
                [
                  {
                    "node": "Determine emoji",
                    "type": "ai_languageModel",
                    "index": 0
                  }
                ]
              ]
            },
            "Structured Output Parser": {
              "ai_outputParser": [
                [
                  {
                    "node": "Determine emoji",
                    "type": "ai_outputParser",
                    "index": 0
                  }
                ]
              ]
            },
            "Construct emoji query": {
              "main": [
                []
              ]
            },
            "Determine emoji": {
              "main": [
                [
                  {
                    "node": "prepare tasks for import (dynamic)",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "prepare tasks for import (static)": {
              "main": [
                [
                  {
                    "node": "Todoist Rename Task (Static)",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "prepare tasks for import (dynamic)": {
              "main": [
                [
                  {
                    "node": "Todoist Rename Task (LLM)",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            }
          },
          "settings": {
            "executionOrder": "v1"
          },
          "staticData": {
            "node:Schedule Trigger": {
              "recurrenceRules": []
            }
          },
          "meta": {
            "templateCredsSetupCompleted": true
          },
          "pinData": {},
          "versionId": "28a94461-ae04-4134-8d99-ed0d605400ba",
          "triggerCount": 1,
          "tags": []
        }
      }
    ]
  },
  "repo_name": "n8n-workflows",
  "repo_owner": "pschmitt",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-27T06:59:59.000Z",
  "versionId": "9c775f5f-1af7-4aac-b790-5ea23d7fd904"
}