workflows/Yv1UPh7jKlfO7u9g.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-16T08:56:45.450Z",
    "createdAt": "2026-05-16T08:56:45.450Z",
    "versionId": "991b4d52-d253-4160-a376-5ad709128d1c",
    "workflowId": "Yv1UPh7jKlfO7u9g",
    "nodes": [
      {
        "id": "a2643cab-aff0-4333-bc70-53ccc50c738c",
        "name": "When clicking ‘Test workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -144,
          -384
        ]
      },
      {
        "id": "25334503-ed2c-4dde-8f54-9cadedf90af3",
        "name": "Read cached PR list",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          160,
          -384
        ],
        "parameters": {
          "fileSelector": "/home/node/.n8n-files/pr_data.json"
        },
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "e0190372-22ea-42be-a311-64d705738b96",
        "name": "Convert cached PR list",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          352,
          -384
        ],
        "parameters": {
          "operation": "fromJson",
          "options": {
            "keepSource": "json"
          }
        },
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "id": "4c76312d-755f-47e3-b435-c2024f71e1ff",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1040,
          -368
        ],
        "parameters": {
          "mode": "append"
        }
      },
      {
        "id": "30ec3394-24b9-4eeb-a09b-bdd3d492cbe2",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          160,
          -208
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "repo-id",
                "name": "gh_repo",
                "value": "NixOS/nixpkgs",
                "type": "string"
              },
              {
                "id": "keywords-id",
                "name": "keywords",
                "value": "[\"immich\", \"mealie\", \"netbird\", \"netbox\", \"paperless-ngx\", \"tailscale\", \"waybar\"]",
                "type": "array"
              }
            ]
          }
        }
      },
      {
        "id": "390c82d7-0880-4992-9311-9b3a2f7efcf0",
        "name": "Build GH Query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          352,
          -208
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\nconst repo = $input.first().json.gh_repo;\nconst keywords = $input.first().json.keywords;\n\nconst chunks = [];\nfor (let i = 0; i < keywords.length; i += 5) {\n  chunks.push(keywords.slice(i, i + 5));\n}\n\nreturn chunks.map(chunk => ({\n  query: `repo:${repo} type:pr is:open in:title (${chunk.join(' OR ')})`,\n  repo_owner: repo.split('/')[0],\n  repo_name: repo.split('/')[1],\n  keywords: keywords\n}));\n"
        }
      },
      {
        "id": "867cdc6a-d024-4586-9bea-b1467bff8aeb",
        "name": "Fetch matching PRs",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          512,
          -208
        ],
        "parameters": {
          "url": "=https://api.github.com/search/issues?q={{ $json.query }}",
          "options": {}
        }
      },
      {
        "id": "f32dbbe9-c6ef-4e67-aa88-66b19e789bcb",
        "name": "Process response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          -208
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\nconst all_responses = $input.all();\nconst pr_numbers = new Set();\nconst prs = [];\nconst keywords = all_responses[0]?.json?.keywords || [];\n\nfor (const response of all_responses) {\n  const items = response.json.items || [];\n  for (const item of items) {\n    const title = item.title || \"\";\n    if (title.toLowerCase().includes(\"[backport\")) {\n      continue;\n    }\n\n    if (!pr_numbers.has(item.number)) {\n      pr_numbers.add(item.number);\n      prs.push(item);\n    }\n  }\n}\n\nreturn {\n  pr_numbers: Array.from(pr_numbers),\n  prs: prs,\n  keywords: keywords\n};\n"
        }
      },
      {
        "id": "30732d4e-35ba-4e08-a7f9-74d88952edec",
        "name": "Convert JSON response to binary",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          832,
          -208
        ],
        "parameters": {
          "operation": "toJson"
        }
      },
      {
        "id": "152bafeb-63c2-4743-9eea-70816a3b89c0",
        "name": "Write cache file",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1040,
          -96
        ],
        "parameters": {
          "operation": "write",
          "fileName": "/home/node/.n8n-files/pr_data.json"
        }
      },
      {
        "id": "82d5d0a3-30e8-4448-9aa7-2b6512024554",
        "name": "Compare new and cached PR data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1232,
          -368
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\nconst all_items = $input.all();\nconst cached_item = all_items[0]?.json?.data?.[0] || {};\nconst cur = all_items[1]?.json || {};\n\nconst pr_numbers_prev = cached_item.pr_numbers || [];\nconst pr_numbers_cur = cur.pr_numbers || [];\nconst pr_numbers_diff = pr_numbers_cur.filter(x => !pr_numbers_prev.includes(x));\n\nconst new_prs_data = (cur.prs || []).filter(x => pr_numbers_diff.includes(x.number));\n\nreturn {\n  pr_numbers: {\n    prev: pr_numbers_prev,\n    cur: pr_numbers_cur,\n    diff: pr_numbers_diff\n  },\n  prs: new_prs_data,\n  keywords: cur.keywords\n};\n"
        }
      },
      {
        "id": "2a758fdf-54ce-43e6-b91c-7c6beb83f2f8",
        "name": "Create email body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          -368
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\nconst item = $input.first().json;\nconst new_prs = item.prs || [];\nif (new_prs.length === 0) return [];\n\nconst keywords = item.keywords || [];\nconst workflowId = $workflow.id;\nconst workflowName = $workflow.name;\nconst executionId = $execution.id;\n\nconst escapeHtml = (unsafe) => {\n  return (unsafe || \"\").toString()\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#039;\");\n};\n\nconst formatDate = (isoString) => {\n  if (!isoString) return \"N/A\";\n  const date = new Date(isoString);\n  return date.toLocaleDateString('en-US', { \n    month: 'short', \n    day: 'numeric', \n    year: 'numeric' \n  });\n};\n\nlet html_body = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Helvetica, Arial, sans-serif; line-height: 1.5; color: #24292f; background-color: #f6f8fa; margin: 0; padding: 10px; }\n    .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; border: 1px solid #d0d7de; border-radius: 6px; overflow: hidden; }\n    .header { padding: 16px 20px; background-color: #24292f; color: #ffffff; }\n    .header h1 { margin: 0; font-size: 18px; font-weight: 600; }\n    .content { padding: 20px; }\n    .pr-item { padding-bottom: 16px; margin-bottom: 16px; border-bottom: 1px solid #d0d7de; }\n    .pr-item:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }\n    .pr-title { font-size: 16px; font-weight: 600; color: #0969da; text-decoration: none; display: block; margin-bottom: 6px; word-break: break-word; }\n    .pr-title:hover { text-decoration: underline; }\n    .pr-meta { font-size: 12px; color: #57606a; display: block; }\n    .status-open { color: #1a7f37; font-weight: 600; margin-right: 8px; }\n    .footer { padding: 16px 20px; background-color: #f6f8fa; border-top: 1px solid #d0d7de; font-size: 12px; color: #57606a; }\n    .keywords { margin-top: 8px; margin-bottom: 16px; }\n    .keyword-tag { background-color: #ddf4ff; color: #0969da; padding: 2px 8px; border-radius: 12px; font-weight: 500; display: inline-block; margin: 2px; }\n    .debug-links { border-top: 1px solid #d0d7de; padding-top: 12px; margin-top: 12px; }\n    .debug-links a { color: #0969da; text-decoration: none; margin-right: 12px; }\n    \n    @media (max-width: 480px) {\n      body { padding: 5px; }\n      .header h1 { font-size: 16px; }\n      .content { padding: 15px; }\n      .pr-title { font-size: 15px; }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📮 GitHub nixpkgs PR Digest</h1>\n    </div>\n    <div class=\"content\">\n`;\n\nfor (const pr of new_prs) {\n  const title = escapeHtml(pr.title);\n  const url = pr.html_url || \"#\";\n  const date = formatDate(pr.created_at);\n  const number = pr.number;\n  const user = pr.user?.login || \"unknown\";\n  \n  html_body += `\n      <div class=\"pr-item\">\n        <a href=\"${url}\" class=\"pr-title\">${title} #${number}</a>\n        <div class=\"pr-meta\">\n          <span class=\"status-open\">⊙ Open</span> <span>by <strong>${user}</strong></span>\n          <span style=\"margin-left: 8px;\">on ${date}</span>\n        </div>\n      </div>\n  `;\n}\n\nhtml_body += `\n    </div>\n    <div class=\"footer\">\n      <div style=\"font-weight: 600; margin-bottom: 4px;\">Active Keywords:</div>\n      <div class=\"keywords\">\n        ${keywords.map(kw => `<span class=\"keyword-tag\">${escapeHtml(kw)}</span>`).join('')}\n      </div>\n      <div class=\"debug-links\">\n        <div style=\"margin-bottom: 8px; font-weight: 600;\">${escapeHtml(workflowName)}</div>\n        <a href=\"https://n8n.brkn.lol/workflow/${workflowId}\">📝 Edit Workflow</a>\n        <a href=\"https://n8n.brkn.lol/workflow/${workflowId}/executions/${executionId}\">🔍 View Execution</a>\n      </div>\n      <p style=\"margin-top: 16px; font-style: italic; opacity: 0.8;\">Automated digest from n8n.brkn.lol</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nlet text_body = \"New Open PRs from nixos/nixpkgs matching your keywords:\\n\\n\";\nfor (const pr of new_prs) {\n  text_body += `[${pr.title}] #${pr.number}\\nURL: ${pr.html_url}\\nBy: ${pr.user?.login} on ${pr.created_at}\\n\\n`;\n}\ntext_body += \"\\nActive Keywords: \" + keywords.join(\", \");\ntext_body += `\\n\\nWorkflow: ${workflowName}`;\ntext_body += `\\nEdit Workflow: https://n8n.brkn.lol/workflow/${workflowId}`;\ntext_body += `\\nView Execution: https://n8n.brkn.lol/workflow/${workflowId}/executions/${executionId}`;\n\nreturn {\n  emailBodyHtml: html_body,\n  emailBodyText: text_body\n};\n"
        }
      },
      {
        "id": "755f205b-5b1c-433e-a074-3d5d786de55c",
        "name": "Send Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1632,
          -368
        ],
        "parameters": {
          "fromEmail": "n8n@brkn.lol",
          "toEmail": "philipp@schmitt.co",
          "subject": "NixOS/nixpkgs PRs",
          "emailFormat": "both",
          "text": "={{ $json.emailBodyText }}",
          "html": "={{ $json.emailBodyHtml }}",
          "options": {
            "appendAttribution": false
          }
        },
        "webhookId": "e9d762bd-466a-4b26-9027-2e49d95bee1f",
        "credentials": {
          "smtp": {
            "id": "dQMUZSPTIO45Dpu7",
            "name": "SMTP account"
          }
        }
      },
      {
        "id": "9fdb09f3-b2b8-45ec-b84e-5cd54e5064f7",
        "name": "Convert new PR data to array",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          -160
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\nconst prs = $json.prs || [];\nreturn prs.map(pr => ({ pr }));\n"
        }
      },
      {
        "id": "5387644a-4d80-41df-b582-2f97dd347eec",
        "name": "Subscribe to PR",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1632,
          -160
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.github.com/graphql",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"variables\": {\n    \"nodeId\": \"{{ $json.pr.node_id }}\"\n  },\n  \"query\": \"mutation($nodeId: ID!) { updateSubscription(input: { subscribableId: $nodeId, state: SUBSCRIBED, clientMutationId: \\\"subscribe-me\\\" }) { clientMutationId } }\"\n}"
        },
        "credentials": {
          "githubOAuth2Api": {
            "id": "POqP3dfytXqTmZo3",
            "name": "GitHub account (OAuth)"
          },
          "githubApi": {
            "id": "2J14Hqh22wmzbnkG",
            "name": "GitHub account (PAT)"
          }
        }
      },
      {
        "id": "d8be3a6c-56c5-40f7-9ec6-8aeddca0bbcf",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -144,
          -208
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Read cached PR list",
              "type": "main",
              "index": 0
            },
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read cached PR list": {
        "main": [
          [
            {
              "node": "Convert cached PR list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert cached PR list": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Compare new and cached PR data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Build GH Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build GH Query": {
        "main": [
          [
            {
              "node": "Fetch matching PRs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch matching PRs": {
        "main": [
          [
            {
              "node": "Process response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process response": {
        "main": [
          [
            {
              "node": "Convert JSON response to binary",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Convert JSON response to binary": {
        "main": [
          [
            {
              "node": "Write cache file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare new and cached PR data": {
        "main": [
          [
            {
              "node": "Create email body",
              "type": "main",
              "index": 0
            },
            {
              "node": "Convert new PR data to array",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create email body": {
        "main": [
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert new PR data to array": {
        "main": [
          [
            {
              "node": "Subscribe to PR",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read cached PR list",
              "type": "main",
              "index": 0
            },
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Philipp Schmitt",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "991b4d52-d253-4160-a376-5ad709128d1c",
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read cached PR list",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read cached PR list": {
      "main": [
        [
          {
            "node": "Convert cached PR list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert cached PR list": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Compare new and cached PR data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Build GH Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GH Query": {
      "main": [
        [
          {
            "node": "Fetch matching PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch matching PRs": {
      "main": [
        [
          {
            "node": "Process response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process response": {
      "main": [
        [
          {
            "node": "Convert JSON response to binary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert JSON response to binary": {
      "main": [
        [
          {
            "node": "Write cache file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare new and cached PR data": {
      "main": [
        [
          {
            "node": "Create email body",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert new PR data to array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create email body": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert new PR data to array": {
      "main": [
        [
          {
            "node": "Subscribe to PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read cached PR list",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-20T15:49:00.768Z",
  "id": "Yv1UPh7jKlfO7u9g",
  "isArchived": false,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "📮 GitHub nixpkgs PR Digest",
  "nodes": [
    {
      "id": "a2643cab-aff0-4333-bc70-53ccc50c738c",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -384
      ]
    },
    {
      "id": "25334503-ed2c-4dde-8f54-9cadedf90af3",
      "name": "Read cached PR list",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        160,
        -384
      ],
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/pr_data.json"
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "id": "e0190372-22ea-42be-a311-64d705738b96",
      "name": "Convert cached PR list",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        -384
      ],
      "parameters": {
        "operation": "fromJson",
        "options": {
          "keepSource": "json"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "id": "4c76312d-755f-47e3-b435-c2024f71e1ff",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1040,
        -368
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "30ec3394-24b9-4eeb-a09b-bdd3d492cbe2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -208
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "repo-id",
              "name": "gh_repo",
              "value": "NixOS/nixpkgs",
              "type": "string"
            },
            {
              "id": "keywords-id",
              "name": "keywords",
              "value": "[\"immich\", \"mealie\", \"netbird\", \"netbox\", \"paperless-ngx\", \"tailscale\", \"waybar\"]",
              "type": "array"
            }
          ]
        }
      }
    },
    {
      "id": "390c82d7-0880-4992-9311-9b3a2f7efcf0",
      "name": "Build GH Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -208
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst repo = $input.first().json.gh_repo;\nconst keywords = $input.first().json.keywords;\n\nconst chunks = [];\nfor (let i = 0; i < keywords.length; i += 5) {\n  chunks.push(keywords.slice(i, i + 5));\n}\n\nreturn chunks.map(chunk => ({\n  query: `repo:${repo} type:pr is:open in:title (${chunk.join(' OR ')})`,\n  repo_owner: repo.split('/')[0],\n  repo_name: repo.split('/')[1],\n  keywords: keywords\n}));\n"
      }
    },
    {
      "id": "867cdc6a-d024-4586-9bea-b1467bff8aeb",
      "name": "Fetch matching PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        -208
      ],
      "parameters": {
        "url": "=https://api.github.com/search/issues?q={{ $json.query }}",
        "options": {}
      }
    },
    {
      "id": "f32dbbe9-c6ef-4e67-aa88-66b19e789bcb",
      "name": "Process response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -208
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst all_responses = $input.all();\nconst pr_numbers = new Set();\nconst prs = [];\nconst keywords = all_responses[0]?.json?.keywords || [];\n\nfor (const response of all_responses) {\n  const items = response.json.items || [];\n  for (const item of items) {\n    const title = item.title || \"\";\n    if (title.toLowerCase().includes(\"[backport\")) {\n      continue;\n    }\n\n    if (!pr_numbers.has(item.number)) {\n      pr_numbers.add(item.number);\n      prs.push(item);\n    }\n  }\n}\n\nreturn {\n  pr_numbers: Array.from(pr_numbers),\n  prs: prs,\n  keywords: keywords\n};\n"
      }
    },
    {
      "id": "30732d4e-35ba-4e08-a7f9-74d88952edec",
      "name": "Convert JSON response to binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        832,
        -208
      ],
      "parameters": {
        "operation": "toJson"
      }
    },
    {
      "id": "152bafeb-63c2-4743-9eea-70816a3b89c0",
      "name": "Write cache file",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1040,
        -96
      ],
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/pr_data.json"
      }
    },
    {
      "id": "82d5d0a3-30e8-4448-9aa7-2b6512024554",
      "name": "Compare new and cached PR data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -368
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst all_items = $input.all();\nconst cached_item = all_items[0]?.json?.data?.[0] || {};\nconst cur = all_items[1]?.json || {};\n\nconst pr_numbers_prev = cached_item.pr_numbers || [];\nconst pr_numbers_cur = cur.pr_numbers || [];\nconst pr_numbers_diff = pr_numbers_cur.filter(x => !pr_numbers_prev.includes(x));\n\nconst new_prs_data = (cur.prs || []).filter(x => pr_numbers_diff.includes(x.number));\n\nreturn {\n  pr_numbers: {\n    prev: pr_numbers_prev,\n    cur: pr_numbers_cur,\n    diff: pr_numbers_diff\n  },\n  prs: new_prs_data,\n  keywords: cur.keywords\n};\n"
      }
    },
    {
      "id": "2a758fdf-54ce-43e6-b91c-7c6beb83f2f8",
      "name": "Create email body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -368
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst item = $input.first().json;\nconst new_prs = item.prs || [];\nif (new_prs.length === 0) return [];\n\nconst keywords = item.keywords || [];\nconst workflowId = $workflow.id;\nconst workflowName = $workflow.name;\nconst executionId = $execution.id;\n\nconst escapeHtml = (unsafe) => {\n  return (unsafe || \"\").toString()\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#039;\");\n};\n\nconst formatDate = (isoString) => {\n  if (!isoString) return \"N/A\";\n  const date = new Date(isoString);\n  return date.toLocaleDateString('en-US', { \n    month: 'short', \n    day: 'numeric', \n    year: 'numeric' \n  });\n};\n\nlet html_body = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Helvetica, Arial, sans-serif; line-height: 1.5; color: #24292f; background-color: #f6f8fa; margin: 0; padding: 10px; }\n    .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; border: 1px solid #d0d7de; border-radius: 6px; overflow: hidden; }\n    .header { padding: 16px 20px; background-color: #24292f; color: #ffffff; }\n    .header h1 { margin: 0; font-size: 18px; font-weight: 600; }\n    .content { padding: 20px; }\n    .pr-item { padding-bottom: 16px; margin-bottom: 16px; border-bottom: 1px solid #d0d7de; }\n    .pr-item:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }\n    .pr-title { font-size: 16px; font-weight: 600; color: #0969da; text-decoration: none; display: block; margin-bottom: 6px; word-break: break-word; }\n    .pr-title:hover { text-decoration: underline; }\n    .pr-meta { font-size: 12px; color: #57606a; display: block; }\n    .status-open { color: #1a7f37; font-weight: 600; margin-right: 8px; }\n    .footer { padding: 16px 20px; background-color: #f6f8fa; border-top: 1px solid #d0d7de; font-size: 12px; color: #57606a; }\n    .keywords { margin-top: 8px; margin-bottom: 16px; }\n    .keyword-tag { background-color: #ddf4ff; color: #0969da; padding: 2px 8px; border-radius: 12px; font-weight: 500; display: inline-block; margin: 2px; }\n    .debug-links { border-top: 1px solid #d0d7de; padding-top: 12px; margin-top: 12px; }\n    .debug-links a { color: #0969da; text-decoration: none; margin-right: 12px; }\n    \n    @media (max-width: 480px) {\n      body { padding: 5px; }\n      .header h1 { font-size: 16px; }\n      .content { padding: 15px; }\n      .pr-title { font-size: 15px; }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📮 GitHub nixpkgs PR Digest</h1>\n    </div>\n    <div class=\"content\">\n`;\n\nfor (const pr of new_prs) {\n  const title = escapeHtml(pr.title);\n  const url = pr.html_url || \"#\";\n  const date = formatDate(pr.created_at);\n  const number = pr.number;\n  const user = pr.user?.login || \"unknown\";\n  \n  html_body += `\n      <div class=\"pr-item\">\n        <a href=\"${url}\" class=\"pr-title\">${title} #${number}</a>\n        <div class=\"pr-meta\">\n          <span class=\"status-open\">⊙ Open</span> <span>by <strong>${user}</strong></span>\n          <span style=\"margin-left: 8px;\">on ${date}</span>\n        </div>\n      </div>\n  `;\n}\n\nhtml_body += `\n    </div>\n    <div class=\"footer\">\n      <div style=\"font-weight: 600; margin-bottom: 4px;\">Active Keywords:</div>\n      <div class=\"keywords\">\n        ${keywords.map(kw => `<span class=\"keyword-tag\">${escapeHtml(kw)}</span>`).join('')}\n      </div>\n      <div class=\"debug-links\">\n        <div style=\"margin-bottom: 8px; font-weight: 600;\">${escapeHtml(workflowName)}</div>\n        <a href=\"https://n8n.brkn.lol/workflow/${workflowId}\">📝 Edit Workflow</a>\n        <a href=\"https://n8n.brkn.lol/workflow/${workflowId}/executions/${executionId}\">🔍 View Execution</a>\n      </div>\n      <p style=\"margin-top: 16px; font-style: italic; opacity: 0.8;\">Automated digest from n8n.brkn.lol</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nlet text_body = \"New Open PRs from nixos/nixpkgs matching your keywords:\\n\\n\";\nfor (const pr of new_prs) {\n  text_body += `[${pr.title}] #${pr.number}\\nURL: ${pr.html_url}\\nBy: ${pr.user?.login} on ${pr.created_at}\\n\\n`;\n}\ntext_body += \"\\nActive Keywords: \" + keywords.join(\", \");\ntext_body += `\\n\\nWorkflow: ${workflowName}`;\ntext_body += `\\nEdit Workflow: https://n8n.brkn.lol/workflow/${workflowId}`;\ntext_body += `\\nView Execution: https://n8n.brkn.lol/workflow/${workflowId}/executions/${executionId}`;\n\nreturn {\n  emailBodyHtml: html_body,\n  emailBodyText: text_body\n};\n"
      }
    },
    {
      "id": "755f205b-5b1c-433e-a074-3d5d786de55c",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1632,
        -368
      ],
      "parameters": {
        "fromEmail": "n8n@brkn.lol",
        "toEmail": "philipp@schmitt.co",
        "subject": "NixOS/nixpkgs PRs",
        "emailFormat": "both",
        "text": "={{ $json.emailBodyText }}",
        "html": "={{ $json.emailBodyHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "webhookId": "e9d762bd-466a-4b26-9027-2e49d95bee1f",
      "credentials": {
        "smtp": {
          "id": "dQMUZSPTIO45Dpu7",
          "name": "SMTP account"
        }
      }
    },
    {
      "id": "9fdb09f3-b2b8-45ec-b84e-5cd54e5064f7",
      "name": "Convert new PR data to array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -160
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst prs = $json.prs || [];\nreturn prs.map(pr => ({ pr }));\n"
      }
    },
    {
      "id": "5387644a-4d80-41df-b582-2f97dd347eec",
      "name": "Subscribe to PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        -160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/graphql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"variables\": {\n    \"nodeId\": \"{{ $json.pr.node_id }}\"\n  },\n  \"query\": \"mutation($nodeId: ID!) { updateSubscription(input: { subscribableId: $nodeId, state: SUBSCRIBED, clientMutationId: \\\"subscribe-me\\\" }) { clientMutationId } }\"\n}"
      },
      "credentials": {
        "githubOAuth2Api": {
          "id": "POqP3dfytXqTmZo3",
          "name": "GitHub account (OAuth)"
        },
        "githubApi": {
          "id": "2J14Hqh22wmzbnkG",
          "name": "GitHub account (PAT)"
        }
      }
    },
    {
      "id": "d8be3a6c-56c5-40f7-9ec6-8aeddca0bbcf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -144,
        -208
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "pschmitt",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2025-02-20T15:49:00.774Z",
      "createdAt": "2025-02-20T15:49:00.774Z",
      "role": "workflow:owner",
      "workflowId": "Yv1UPh7jKlfO7u9g",
      "projectId": "DeJsGrmui3Dbhpxg"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "global": {
      "notified_pr_ids": {}
    }
  },
  "tags": [
    {
      "updatedAt": "2025-03-01T10:08:28.997Z",
      "createdAt": "2025-03-01T10:08:28.997Z",
      "id": "XtnD4IrqWWI0nMgl",
      "name": "mail"
    },
    {
      "updatedAt": "2025-03-01T10:08:32.875Z",
      "createdAt": "2025-03-01T10:08:32.875Z",
      "id": "ZImYrfZ29jOrOJYu",
      "name": "github"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-16T08:56:45.449Z",
  "versionId": "991b4d52-d253-4160-a376-5ad709128d1c"
}